body {
    font-family: Arial, sans-serif;
    background-color:white;  
    /* Off-white background */
    color:black;
    /* Dark gray text */
}

h1,
h2
{
  color: rgb(0, 75, 150);
}
h3,
h4,
h5,
h6 {
    color:rgb(0, 75, 150);
}
.carousel-item{
  color: white;
  font-size: xx-large;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: xx-large;
}

.nav-link {
    color:black;
    margin: 0 20px;
}

.nav-link:hover {
    color:red;
}


.card-title {
    color: rgb(0, 75, 150);
}

.btn-secondary {
  background-color:white; 
  text-decoration:none;
  color: black;
  border-color:white; 
  font-size: x-large;
}

.btn-secondary:hover {
  background-color: white;
  text-decoration:none;
  color:black;
  transform: scale(1.20);
  transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

footer {
    background-color:black;
    color:white;
    padding: 4rem 2rem 2rem;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .footer-section h3 {
    margin-bottom: 1rem;
    color: white;
  }
  
  .footer-section a {
    display: block;
    color:white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color:black;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid white;
    background-color: rgb(0, 75, 150);
    
  }

  #logo{
    background-color: aliceblue;
  }
  
#logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}